body {
  margin: 0;
  background-color: #272b33 !important;
  width: 100%;
}


img {
  width: 250px;
  border-radius: 10px 0px 0px 10px;

}

.cards {
  background-color: #3c3e44;
  color: aliceblue;
  margin: 22px;
  border-radius: 8px;
  /* width: 800px; */
}

.det {
  margin: 18px;
}

h1 {
  font-size: 35px !important;
}

h3 {
  font-size: 22px !important;
}

span {
  color: #dadce580;
}

.sec {
  width: 100%;
  background-color: aliceblue;
  padding: 50px 0px 50px 0px;
}

.title {
  text-align: center;
  font-size: 150px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dot {
  width: 20px !important;
  border-radius: 50%;
  height: 20px;
}

.green {
  background-color: rgb(34, 255, 0);

}

.red {
  background-color: red;

}

.grey {
  background-color: grey;

}